body{

    background-image: url("images/chateau.png");
   background-size: cover; /* Ajustement de la taille pour couvrir la totalité du body */
    text-align: center;
    background-repeat: no-repeat;
}
#mute{
width: 20px;
height: 20px;


}
#stopButton{
  position: relative;
  right: 50px;
}
#titre1{
    font-family: "Forte";
    text-align: center;
  
    color: aliceblue;
    font-size: 60px;;
}
#titre2{
    font-family: "Forte";
    text-align: center;
   position: relative;
    top: 100px;
    color: aliceblue;
    font-size: 40px;
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.5);
}
table {
    border-collapse: collapse;
  text-align: center;
  position: relative;
  top: 500px; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%); /* Center horizontally */
  box-shadow: -1px 0px 20px 4px rgb(255, 255, 255);/* Black shadow with 10px blur */
  
  }
  #btn-jeux{
 
    background-color: #fefefe		;
    border-radius: 10px;
   border: 4px double #B22222	;
    color: black;
    text-align: center;
  
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }

  .square { 
    width: 150px; 
    height: 100px; 
    border: 2px solid #000000			; 
    text-align: center;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
 
  .modal {
    display: none; /* Cacher le modal par défaut */
    position: fixed; /* Positionner le modal de manière fixe */
    top: 50%; /* Centrer verticalement */
    left: 0; /* Aligner à droite */
    transform: translateY(-50%); /* Centrer verticalement */
    width: 300px; /* Largeur du modal */
   
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le modal */
    padding: 30px;
    z-index: 1000; /* Assurez-vous que le modal est au-dessus d'autres éléments */
}




.modal1 {
  display: none; /* Cacher le modal par défaut */
  position: fixed; /* Positionner le modal de manière fixe */
  top: 50%; /* Centrer verticalement */
  right: 0; /* Aligner à droite */
  transform: translateY(-50%); /* Centrer verticalement */
  width: 300px; /* Largeur du modal */
 
  
  padding: 30px;
  z-index: 1000; /* Assurez-vous que le modal est au-dessus d'autres éléments */
}
  

  .show {
    display: block; /* Afficher le modal lorsque la classe show est présente */
  }
  #btn1{
   
    position: relative;
    right: 400px;
    bottom:39px;
    background-color: #fefefe		;
    border-radius: 10px;
   border: 4px double #B22222	;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }
  
  #btn2{
    
    position: relative;
    left: 400px;
    bottom:50px;
    background-color: #fefefe		;
    border-radius: 10px;
   border: 4px double blue	;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 80px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Réduire la largeur du modal */
   
    text-align: center; /* Centrer le contenu horizontalement */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */

  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  .image-container {
    margin-top: 20px; /* Espacement entre le titre et les images */
    display: flex; /* Utilisation de Flexbox */
    justify-content: center; /* Centrer horizontalement les éléments */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
  }
  
  .image-label-container {
    display: flex; /* Utilisation de Flexbox pour aligner les éléments sur la même ligne */
    align-items: center; 
    flex-direction: column;/* Centrer verticalement les éléments */
    margin: 10px; /* Espacement entre les conteneurs */
    justify-content: center; /* Centrer horizontalement les éléments */
  }
  
  .icon {
    width: 50px; /* Taille de l'image */
    height: auto; /* Ajustement automatique de la hauteur pour maintenir les proportions */
    margin-right: 10px; /* Espacement entre l'image et le label */
  }
  
  #chefnainImage {
    display: none; /* L'image du nain est initialement cachée */
}